*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f7fa;
}

li,ul{
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

button{
    font-size: 0.9em;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #3f4150;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

button:focus,
button:active{
    outline: none;
    box-shadow: none;
}

/* Header */
.logo{
    width: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.logo img{
    width: 100%;
    height: auto;
}

.logo img:hover{
    transform: translate(12%);
    transition:500ms ease-in-out;
}

/* Article */
form{
    margin-top: 8px;
    background-color: #fff;
    padding: 45px;
    border-radius: 6px;
}
form h1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
    color: #3f4150;
}
.dropdown{
    position: relative;
    z-index: 1;
    width: 300px;
    margin-bottom: 8px;
}
.dropdown-toggle{
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: left;
    color: rgba(133, 136, 150, 0.5);
    padding: 0 16px;
    line-height: 50px;
    border: 1px solid rgba(224, 226, 231, 0.75);
}
.dropdown-toggle.selected {
     color: #3f4150;
     border-color: rgba(224, 226, 31, 1);
}
.dropdown-toggle:active{
    border-color: black;
}

.dropdown-menu{
    position: absolute;
     z-index: 2;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: 0;
    font-size: 14px;
}
.dropdown-menu.show{

}


.dropdown-option{
    width: 100%;
    height: 40px;
    padding: 0 16px;
    text-align: left;
    line-height: 40px;
}
.dropdown-option:hover{
    background-color: rgba(224, 226, 231, 0.8);
}

.next-button {
    display: block;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px;
    line-height: 40px;
    color: #f8f9fa;
    background-color: #1b1c32;
    border-radius: 6px;
    transition: background-color 150ms ease-in;
  }

  .next-button:disabled{
      background-color: rgba(224, 226, 231, 0.8);
  }